* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: transparent;
}

body {
    font-family: Georgia, serif;
    color: #5c4b52;
}

.pastel-content {
    position: relative;
    width: 700px;
    margin: -100px auto 40px;
    background: transparent;
}

/* IMAGE */
.pastel-image {
    position: relative;
    z-index: 2;
    width: 700px;
    height: 500px;
    margin: 0 auto -25px;
    background-image: url("https://raw.githubusercontent.com/ghettobarbie18/pastel/refs/heads/main/dulce2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* TEXT BOX */
.pastel-text {
    width: 550px;
    min-height: 350px;
    margin: 0 auto;
    margin-top: -170px;
    padding: 30px;
    padding-top: 170px;
    text-align: justify;
    background: linear-gradient(to bottom, #90f0b4, #e1ffe9);
    clip-path: polygon(0 0, 55% 6%, 100% 11%, 100% 100%, 0 100%, 0% 50%);
}

.pastel-body {
    width: 250px;
    min-height: 250px;
    margin-left: auto;
    margin-right: -80px;
    padding: 50px 20px 20px 20px;
    text-align: justify;
    font-size: 13px;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: auto;
}

/* TITLE */
.pastel-title {
    text-align: center;
    font-size: 27px;
    color: #b47c92;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 8px;
}

/* QUOTE */
.pastel-quote {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #a98b96;
    margin-bottom: 0;
}
